faiss_task_env
PARAMETROS_TJ2_model_reduced.json
PARAMETROS_TJ2_model_cleaned.json
PARAMETROS_TJ2_model_clean.json
PARAMETROS_TJ2_model.json
__pycache__/
Generated_Report.pdf
user_responses.json
generated_summary.txt
data/PelletInjections_AP.xlsx
data/PelletInjections_AP.json
data/PelletInjections_AP_cleaned.json
PARAMETROS_TJ2_model_time1.json
.env
venv