pip
setuptools
wheel
reportlab
python-docx

# Core Libraries
requests
matplotlib
urllib3
pandas
numpy
scipy
sqlalchemy
fastapi
uvicorn
watchdog
nest-asyncio
python-dotenv
nltk
fuzzywuzzy
python-Levenshtein
ngrok

# NLP & AI
spacy
thinc
sentence-transformers
transformers
langchain
langchain-community
langchain-core
langchain-experimental
langchain-text-splitters
langchain-groq
replicate
huggingface-hub

# Data Processing
pandasql
scikit-learn
pyarrow
openpyxl
jsonschema
jsonpatch
pydantic
pydantic-settings

# Web & APIs
httpx
httpx-sse
tenacity

# Streamlit & UI
streamlit
altair
pydeck
rich

# Misc
typer
tqdm
jinja2
pillow
filelock
sympy
yarl
blinker