pandas
numpy
ipykernel
transformers 
pandas 
torch
pandasql
accelerate
googletrans
langchain_community
translator
nest_asyncio
requests
matplotlib


pypdf2
spacy_langdetect
deep_translator
sentence-transformers
faiss-cpu
transformers
tensorflow
tf-keras
spacy
bertopic
gdown
nltk
numpy==2.0.2
ibm-watson-machine-learning